.members {
    padding: 100px 50px;
    background-color: #0E0F12;
    &__title {
        color: #E7E7E7;
        text-align: center;
        font-weight: 800;
    }
    &__wrapper {
        margin-top: 52px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        border: 1px solid #2A2F3A;
        border-radius: 8px;
        color: #ADB2BD;
        flex: 1 1 200px;
        /* allows responsive resizing */
        max-width: 250px;
    }
    &__img {
        width: 100%;
        aspect-ratio: 1.5/ 1;
        border-radius: 8px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            border-radius: 8px;
        }
    }
    &__name {
        padding: 10px;
    }

}

// .members__wrapper {
//     display: flex;
//     flex-wrap: wrap;
//     gap: 20px;
//     justify-content: center;
// }

// .members__item {
//     text-align: center;
//     flex: 1 1 200px;
//     /* allows responsive resizing */
//     max-width: 250px;
// }

// .members__img {
//     width: 100%;
//     aspect-ratio: 1 / 1;
//     /* makes square image containers */
//     overflow: hidden;
//     border-radius: 12px;
// }

// .members__img img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     /* keeps proportions, crops nicely */
//     display: block;
// }

// .members__name {
//     margin-top: 10px;
//     font-size: 1rem;
//     font-weight: 600;
// }